*{
	margin: 0;
	padding: 0;
	font-size: 50px;
	font-family: sans-serif;
	text-align: center;
}
.header{
	width: 100%;
	height: 100px;
	background-color: red;
}

.container {

}

.contact {
	height: 100px;
	background-color: green;
	width: 70%;
	float: left;
}

.blog {
	height: 100px;
	background-color: blue;
	width: 30%;
	float: right;
}

.footer {
	width: 100%;
	height: 100px;
	background-color: brown;
	overflow: hidden;
}


.footer2 {

}

.copyright{
	width: 20%;
	height: 80px;
	background-color: pink;
	float: left;
}

.termscondition {
	width: 60%;
	height: 80px;
	background-color: lightblue;
	float: left;}

.payment {

width: 20%;
	height: 80px;
	background-color: aquamarine;
	float: right;
}